@import "~bootswatch/cyborg/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/cyborg/bootswatch";

body {
  position: relative;
  min-height: 100vh;
}

body > events-root > .container {
  margin-top: 6rem;
}
