@import "~bootswatch/yeti/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/yeti/bootswatch";
@import "~toastr/toastr";

body {
  position: relative;
  min-height: 100vh;
}

body > events-root > .container {
  margin-top: 6rem;
}
